.flex-container {

    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    row-gap: 1em;
    column-gap: 2em;
    flex-wrap: wrap;
    align-items: flex-end;

    .theme-title {

        margin-bottom: 5px;

    }

    .slide-container {

        width: 75px;
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        .labels-container {

            display: flex;
            align-items: center;

            label {

                cursor: pointer;
                width: 100%;
                text-align: center;

                &:hover {

                    filter: brightness(0.8);

                }

            }

        }

        .slide-element-container {

            background-color: var(--blue-toggle-background);
            border-radius: 75px;
            height: 25px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .slide-element-view-value {

                background-color: var(--red);
                height: 17px;
                width: 17px;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 50%;
                transition: left 0.4s;

            }

            input {
                
                cursor: pointer;
                opacity: 0;
                margin: 0px;
                flex-grow: 1;
                height: 100%;

            }

        }

    }

}

.active {

    filter: brightness(0.8);
    cursor: default !important;

}