.calculator-button {

    all: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--light-grayish-orange);
    border-bottom: solid 4px var(--grayish-orange);
    color: var(--very-dark-grayish-blue);
    height: 1.8em;
    font-size: 1.3em;
    cursor: pointer;

    &:hover {

        margin-top: 1px;
        border-bottom-width: 3px;
        filter: brightness(1.5);

    }

    &:focus {

        margin-top: 2px;
        border-bottom-width: 2px;

    }

}

.primary-button {

    background-color: var(--desaturated-dark-blue);
    border-bottom-color: var(--desaturated-dark-blue-outline);
    color: var(--white);

}

.secondary-button {

    background-color: var(--red);
    border-bottom-color: var(--dark-red);
    color: var(--white);

}

.action-button {

    font-size: 1em;
    height: calc(100% - 4px);

}

@media (max-width: 500px) {

    .calculator-button:hover {

        margin-top: 2px !important;
        border-bottom-width: 2px !important;
        filter: none;

    }

}