@font-face {
    font-family: leagueSpartan;
    src: url('../../assets/fonts/league_spartan.ttf');
}

:host {

    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-main-background);
    color: var(--main-text-color);
    font-family: leagueSpartan;
    font-weight: 700;
    font-size: 1.5em;

}

.attribution {

    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-weight: 200;
    background-color: var(--blue-screen-background);
    padding: 4px;

    a {
        color: var(--main-text-color);
        font-weight: 400;
    }

}

@media (max-width: 320px) {

    :host {

        font-size: 1em;
        
    }

}

* {
    touch-action: manipulation;
}