@import '/src/assets/css/themes/theme-manager.scss';

@font-face {
    font-family: leagueSpartan;
    src: url('/assets/css/fonts/league_spartan.ttf');
}

:host {

    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-main-background);
    color: var(--main-text-color);
    font-family: leagueSpartan;
    font-weight: 700;
    font-size: 1.5em;
    transition: background-color 0.5s;

    ::ng-deep {

        span, label, button, footer, a {

            transition: color 0.5s, left 0.4s !important;
        
        }
        
        button, div {
        
            transition: background-color 0.5s;
        
        }

        *,
        * ::after,
        * ::before {
            box-sizing: content-box !important;
        }

    }

}

::ng-deep .calculator-app app-navbar {

    height: auto !important;

    .custom-nav {

        color: var(--main-text-color);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;

    }

}

.attribution {

    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-weight: 200;
    background-color: var(--blue-screen-background);
    padding: 4px;

    a {
        color: var(--main-text-color);
        font-weight: 400;
    }

}

@media (max-width: 320px) {

    :host {

        font-size: 1em;
        
    }

}

* {
    touch-action: manipulation;
}