/* You can add global styles to this file, and also import other style files */
@import '/src/assets/css/themes/theme-manager.scss';

html,
body {

    width: 100%;
    height: 100%;
    margin: 0px;

}

span, label, button, footer, a {

    transition: color 0.5s, left 0.4s !important;

}

button, div, ca-calculator-app {

    transition: background-color 0.5s;

}